<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/about_us.css">
  <link rel="stylesheet" href="../fonts/all-fonts/css/all.min.css"
    integrity="b759edf0142860c2c5379a78dad440b6e00015068240e0de91455e28a66b127132a781f6474447173d0a5a99a3ee2f20">
  <title>About Us</title>
</head>

<body>

  <header>
    <div class="wrapper">
      <img src="../static/images/unnamed.png" class="app-icon" />
      <nav class="tabs">
        <div class="selector"></div>
        <a href="home.html">Home</a>
        <a href="about_us.html" class="active">About Us</a>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
  </header>

  <section class="content">
    <div class="about-us-description">
      <p>This website is your go-to destination for quick currency conversion and financial insights.
      It provides a user-friendly platform that empowers individuals and businesses to navigate the complexities of global currencies with ease.</p>
      <p>Explore our user-friendly interface, stay informed about the latest financial trends, and make
      use of our powerful currency conversion tools.</p>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/scripts/home.js"></script>


  <footer>
    <p>&copy; 2024 CurrenSync Hub. All rights reserved.</p>
  </footer>

</body>

</html>