<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/contact.css">
  <link href="https://fonts.googleapis.com/css?family=Audiowide%7CRoboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="../fonts/all-fonts/css/all.min.css"
    integrity="b759edf0142860c2c5379a78dad440b6e00015068240e0de91455e28a66b127132a781f6474447173d0a5a99a3ee2f20">
  <title>Contact</title>
</head>

<body>

  <header>
    <div class="wrapper">
      <img src="../static/images/unnamed.png" class="app-icon" />
      <nav class="tabs">
        <div class="selector"></div>
        <a href="home.html">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="contact.html" class="active">Contact</a>
      </nav>
    </div>
  </header>

  <div class="mailbg">
    <label class="l1" for="mailinput">Your Email:</label>
    <input class="mailinput" aria-label="Your Email" autocomplete="on" type="email" placeholder="">
    <label class="l2" for="messtxt">Your Message:</label>
    <textarea class="messtxt" aria-label="Your Message" placeholder=""></textarea>
    <button class="sendmess" aria-label="Send message">Send<div class="bar"></div></button>
    <div class="success">Message sent successfully.<br><br>Thanks!</div>
    <button class="closemess" aria-label="Close Form">Close
  </div></button>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/scripts/contact.js"></script>

  <footer>
    <p>&copy; 2024 CurrenSync Hub. All rights reserved.</p>
  </footer>
</body>

</html>