<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CurrenSync Hub</title>
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="../fonts/all-fonts/css/all.min.css"
    integrity="b759edf0142860c2c5379a78dad440b6e00015068240e0de91455e28a66b127132a781f6474447173d0a5a99a3ee2f20">
</head>

<body>
  <header>
    <div class="wrapper">
      <img src="../static/images/unnamed.png" class="app-icon" />
      <nav class="tabs">
        <div class="selector"></div>
        <a href="home.html" class="active">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
  </header>
  <div id="converter">
    <h2>CurrenSync Hub</h2>
    <form>
      <input required='' type='text' id='amount'>
      <label alt='Convert' placeholder='Convert'></label>
      <label for="from">From:</label>
      <select id="from" name="from">
        <option value="none" selected>Select…</option>
        <option value="USD">USD $</option>
        <option value="EUR">EUR €</option>
        <option value="GBP">GBP £</option>
        <option value="JPY">JPY ¥</option>
      </select>

      <!-- exchange button -->
      <button onclick="swapCurrencies()" id="swap-button">&#x21C5; </button>

      <label for="to">To:</label>
      <select id="to" name="to">
        <option value="none" selected>Select…</option>
        <option value="USD">USD $</option>
        <option value="EUR">EUR €</option>
        <option value="GBP">GBP £</option>
        <option value="JPY">JPY ¥</option>
      </select>

      <button onclick="convertCurrency()">Get Exchange Rate</button>

    </form>

    <div id="result-box">
      <div id="result"></div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/scripts/home.js"></script>

  <footer>
    <p>&copy; 2024 CurrenSync Hub. All rights reserved.</p>
  </footer>

</body>

</html>