@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #89d8d3;
    background-position: initial;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about-us-description {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.app-icon {
    width: 2em;
    height: 2em;
    margin-right: 50px;
    margin-left: 500px;
}

.wrapper {
    text-align: left;
    margin: 50px auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tabs {
    margin-top: 0px;
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
}

.tabs a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs a.active {
    color: #fff;
}

.tabs a i {
    margin-right: 5px;
}

.tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 85px;
    top: 0px;
    z-index: 1;
    border-radius: 50px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: rgb(255, 151, 0);
    background: -moz-linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
    background: -webkit-linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
    background: linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}

button {
    padding: 0;
    border: 0;
    background: none;
}

footer {
    background-color: #03c8a8;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-top: 195px;
}