@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #89d8d3;
  background-position: initial;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  text-align: left;
  margin: 50px auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tabs {
  margin-top: 0px;
  font-size: 15px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: rgb(255, 151, 0);
  background: -moz-linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
  background: -webkit-linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
  background: linear-gradient(45deg, rgb(255, 151, 0) 0%, #eaf818 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}

#converter h2 {
  margin-bottom: 1px;
}

.app-icon {
  width: 2em;
  height: 2em;
  margin-right: 50px;
  margin-left: 500px;
}

#swap-button {
  font-size: 20px;
  width: 40px;
  height: 40px;
}

#converter {
  margin-top: 100px;
  position: absolute;
  top: 55%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  padding: 20px;
  margin: 50px auto;
  background-color: #fff;
  padding-bottom: 55px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

form {
  width: 100%;
  height: 300px;
  max-width: 300px;
}

input[type="text"] {
  box-sizing: content-box;
  width: 300px;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  background: #fff9;
  position: relative;
  outline: none;
}

input[type="text"][required]:focus {
  text-align: center;
  border-color: #03c8a8;
  position: relative;
}

input[type="text"][required]:focus+label[placeholder]:before {
  color: #03c8a8;
  position: relative;
}

input[type="text"][required]:focus+label[placeholder]:before,
input[type="text"][required]:valid+label[placeholder]:before {
  transition-duration: .2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid+label[placeholder][alt]:before {
  content: attr(alt);
}

input[type="text"][required]+label[placeholder] {
  display: block;
  position: relative;
  pointer-events: none;
  line-height: 1em;
  margin-top: -1.75em;
  margin-bottom: calc((3em - 1em) + 2px);
  transition: 0.3s ease-in-out;
}

input[type="text"][required]+label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-icon {
  align-content: center;
  align-items: center;
  font-size: 24px;
  color: #777;
  margin-top: 10px;
  line-height: 1;
}

button {
  margin-top: 10px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 0;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

button:hover {
  color: #fff;
}

button:hover::after {
  top: 0;
  height: 100%;
}

button:active {
  top: 2px;
}

:root {
  --foldDur: 0.7s;
  font-size: calc(24px + (30 - 24)*(100vw - 320px)/(1280 - 320));
}

form,
.select__button,
.select__options {
  width: 100%;
}

form {
  margin: auto;
  padding: 3em 1.5em 6em 1.5em;
  max-width: 13.25em;
}

label {
  display: block;
  font-weight: bold;
}

.select,
.select__button {
  position: relative;
}

.select {
  margin-bottom: 1.5em;
  perspective: 20em;
}

.select select {
  display: none;
}

.select__button,
.select__option {
  background: #f1f1f1;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.375em;
}

.select__button {
  animation-duration: var(--foldDur);
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  border-radius: 0;
  box-shadow:
    -0.05em 0 0 #fff inset,
    0.05em 0 0 #ccc inset,
    0 -0.05em 0 #d9d9d9 inset;
  transform-origin: 50% 100%;
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
}

.select__button:focus,
.select__option:focus {
  outline: transparent;
}

.select__button:focus {
  color: #2762f3;
}

.select__button:after,
.select__option:first-child:after {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  color: #000;
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.select__button:after {
  border-top: 0.25em solid;
}

.select__button--pristine {
  animation: none;
}

.select__options {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 0s var(--foldDur) steps(1);
}

.select__option {
  height: 40px;
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #ccc inset,
    -0.05em 0.1em 0.2em 0 #fff inset,
    -0.05em 0 0 #fff inset;
  color: inherit;
  opacity: 0;
  text-decoration: #000;
  transition: opacity 0s var(--foldDur) steps(1);
}

.select__option:first-child {
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #ccc inset,
    -0.05em 0 0 #fff inset;
}

.select__option:first-child:after {
  border-bottom: 0.25em solid;
}

.select__option:hover,
.select__option:focus {
  background: #b8ccf9;
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #a9bbe5 inset,
    -0.05em 0 0 #c1d4ff inset;
}

.select__option[aria-selected="true"]:not(:first-child):after {
  content: "\2713";
}

.select__button[aria-expanded="true"] {
  animation-direction: normal;
  animation-fill-mode: forwards;
  box-shadow:
    -0.05em -0.1em 0.2em 0 #fff inset,
    -0.05em 0 0 #fff inset;
  cursor: default;
  pointer-events: none;
  padding-bottom: 40px;
}

.select__button--fold4 {
  animation-name: fold4;
}

.select__button--fold5 {
  animation-name: fold5;
}

.select__button[aria-expanded="true"]+.select__options,
.select__button[aria-expanded="true"]+.select__options .select__option {
  transition-delay: 0s;
}

.select__button--fold4[aria-expanded="true"]+.select__options,
.select__button--fold5[aria-expanded="true"]+.select__options {
  visibility: visible;
}

.select__button--fold4[aria-expanded="true"]+.select__options .select__option,
.select__button--fold5[aria-expanded="true"]+.select__options .select__option {
  opacity: 1;
}

.select__button--fold4+.select__options .select__option:nth-child(4),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(2) {
  transition-delay: calc(var(--foldDur) * 0.25);
}

.select__button--fold4+.select__options .select__option:nth-child(3),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(3) {
  transition-delay: calc(var(--foldDur) * 0.5);
}

.select__button--fold4+.select__options .select__option:nth-child(2),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(4) {
  transition-delay: calc(var(--foldDur) * 0.75);
}

.select__button--fold5+.select__options .select__option:nth-child(5),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(2) {
  transition-delay: calc(var(--foldDur) * 0.2);
}

.select__button--fold5+.select__options .select__option:nth-child(4),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(3) {
  transition-delay: calc(var(--foldDur) * 0.4);
}

.select__button--fold5+.select__options .select__option:nth-child(3),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(4) {
  transition-delay: calc(var(--foldDur) * 0.6);
}

.select__button--fold5+.select__options .select__option:nth-child(2),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(5) {
  transition-delay: calc(var(--foldDur) * 0.8);
}

@keyframes appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fold4 {
  from {
    color: #171717;
    transform: translateY(0) rotateX(0deg)
  }

  12.5% {
    color: #171717;
    transform: translateY(0) rotateX(-90deg)
  }

  12.51% {
    color: transparent;
    transform: translateY(0) rotateX(-90deg)
  }

  25% {
    color: transparent;
    transform: translateY(0) rotateX(-180deg)
  }

  25.01% {
    color: transparent;
    transform: translateY(100%) rotateX(0deg)
  }

  50% {
    color: transparent;
    transform: translateY(100%) rotateX(-180deg)
  }

  50.01% {
    color: transparent;
    transform: translateY(200%) rotateX(0deg)
  }

  75% {
    color: transparent;
    transform: translateY(200%) rotateX(-180deg)
  }

  75.01% {
    color: transparent;
    transform: translateY(300%) rotateX(0deg)
  }

  to {
    color: transparent;
    transform: translateY(300%) rotateX(-100deg)
  }
}

@keyframes fold5 {
  from {
    color: #171717;
    transform: translateY(0) rotateX(0deg)
  }

  10% {
    color: #171717;
    transform: translateY(0) rotateX(-90deg)
  }

  10.01% {
    color: transparent;
    transform: translateY(0) rotateX(-90deg)
  }

  20% {
    color: transparent;
    transform: translateY(0) rotateX(-180deg)
  }

  20.01% {
    color: transparent;
    transform: translateY(100%) rotateX(0deg)
  }

  40% {
    color: transparent;
    transform: translateY(100%) rotateX(-180deg)
  }

  40.01% {
    color: transparent;
    transform: translateY(200%) rotateX(0deg)
  }

  60% {
    color: transparent;
    transform: translateY(200%) rotateX(-180deg)
  }

  60.01% {
    color: transparent;
    transform: translateY(300%) rotateX(0deg)
  }

  80% {
    color: transparent;
    transform: translateY(300%) rotateX(-180deg)
  }

  80.01% {
    color: transparent;
    transform: translateY(400%) rotateX(0deg)
  }

  to {
    color: transparent;
    transform: translateY(400%) rotateX(-100deg)
  }
}

footer {
  background-color: #03c8a8;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin-top: 850px;
}

#result-box {
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}

#result {
  white-space: nowrap;
  font-size: 20px;
}